<%- include("header.ejs") -%>
<body>
  <h2>This is the about page</h2>
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa aliquam
    aperiam velit enim blanditiis adipisci iure voluptatem itaque, laborum dolor
    corporis, asperiores repellendus. Iusto, porro natus nam maiores doloribus
    deleniti?
  </p>
</body>
<%- include("footer.ejs") -%>
